nav {
    background-color: rgb(237, 217, 255);
    padding: 20px
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 50px;
}


nav a {
    color: rgb(101, 6, 190);
    text-decoration: none;
    font-size: 30px;
}

nav li {
    border-bottom: 2px solid transparent;
    transition: .2s;
}

nav li:hover {
    border-bottom: 2px solid blueviolet;
}

nav li a.active {
    transition: .2s;
    text-decoration: underline;
}