.popup__background {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(192, 192, 192);
    opacity: 0.8;
}

.loading {
  position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(192, 192, 192);
    opacity: 0.9;
   display: flex;
   justify-content: center;
   align-items: center;
}

.popup__window {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: white;
  padding: 20px 70px;
 margin: auto;
 gap: 10px;
}